[Unit]
Description=Dotfiles Import Deamon
Requires=dimportd.socket

[Service]
ExecStart=/usr/sbin/dimportd
NonBlocking=true
KillMode=process
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target